body {
    padding-top: 4.5rem;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-size: 1.5rem;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.table th, .table td {
    vertical-align: middle;
}
